<!DOCTYPE html>
<html ng-app="angulardjango">
<head>
  <title>Django + Angular = Love</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>

  <a  href="javascript:void(0)" 
      class="btn btn-primary btn-fab btn-raised mdi-content btn-add-new-post"
      ng-dialog="/static/templates/posts/new-post.html"
      ng-gialog-controller="NewPostController as vm"
      ng-show="vm.isAuthenticated">+</a>

  {% include 'scripts.html' %}
</body>
</html>
